<html>

<head>
</head>

<body>
  <h1>Team: <%= teamStatus[0] %></h1>
  <h3>Best Player: <%= teamStatus[1] %></h3>
  <h3>Batting Average: <%= teamStatus[2] %></h3>
  <h3>Homeruns: <%= teamStatus[3] %></h3>
  <h3>Salary: <%= teamStatus[4] %></h3>
  <a href='/'> back to teams</a>
</body>

</html>
